body, html{

    height: 100%;

}

/* calculadora things */

#calcBody{

    background-color: rgb(68, 68, 68);
    width: 350px;
    height: 400px;
    border-radius: 25px;

}

input.form-control{

    width: 80%;
    text-align: end;
    margin: 30px 36px 0;
    display: inline-block;

    font-size: 20px;

}

.btn{

    --bs-btn-font-weight: 700 !important;

}

